@{
    ViewBag.Title = "Đăng Nhập";
}

<h2>Đăng Nhập</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-group">
        <label for="TaiKhoan">Tài Khoản</label>
        <input type="text" name="TaiKhoan" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="MatKhau">Mật Khẩu</label>
        <input type="password" name="MatKhau" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>

    <!-- Kiểm tra nếu có thông báo lỗi -->
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-2">@ViewBag.ErrorMessage</div>
    }
}
